.tourneyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    
    flex-wrap: nowrap;
    width: 90vw;
    margin: 0 auto;
    height: 700px;
}

.tourneyBody {
    height: 700px;
    width: 30vw;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
}

.entrantsList {
    height: 700px;
    width: 30vw;
    overflow: scroll;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
}


.entrantsList ul {
    list-style-type: none;
    padding: 0;
}

.productList {
    height: 700px;
    width: 30vw;
    overflow: scroll;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
}

.productListDiv {
    width: 30vw;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.editBalanceInput {
    width: 50px;
    text-align: center;
}

.balanceInput {
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.hostControls {
    border: 1px solid black;
    margin: 0 auto;
    width: 30vw;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.hostControls input {
    text-align: center;
}

.highlight {
    background-color: rgb(77, 134, 247);
    color: white;
}

@media only screen and (max-width: 900px) {
    .productListDiv {
        flex-direction: column;
    }
}

