.tourneyDiv {
    margin-top: 0;
    background-color: #161616;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 40px;
}

.tourneyDiv h1 {
    color: #E1E1E1;
}

.tourneyDiv h2 {
    color: #E1E1E1;
}

.tourneyDiv h3 {
    color: #E1E1E1;
}

.tourneyDiv h4 {
    color: #E1E1E1;
}

.tourneyDiv p {
    color: #E1E1E1;
}

.tourneyDiv li {
    color: #E1E1E1;
}

.tourneySubDiv {
    background-color: #282828;
    height: auto;
    width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    padding: 20px 0;
}

.tourneySubDiv2 {
    background-color: #282828;
    height: auto;
    width: 95vw;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}

.hostControls {
    border: 1px solid #121212;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-color: #363636;
}

.hostControls input {
    text-align: center;
}

.submitInviteBtn {
    background-color: #00897B;
    color: #D9E2EC;
}

.deleteTournamentBtn {
    background-color: #C62828;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

.tourneyWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: #363636;
    flex-wrap: nowrap;
    width: 90vw;
    margin: 0 auto;
    height: 870px;
    border-radius: 10px;
    box-sizing: border-box;
}

.tourneyBody {
    height: auto;
    width: 30vw;
    box-sizing: border-box;
    background-color: #363636;
}

.tourneyBody input {
    padding: 5px;
    width: 150px;
}

.tourneyBody button {
    margin-bottom: 10px;
}

.editStartBalBtn {
    background-color: rgb(77, 134, 247);
    color: #D9E2EC;
}

.registerTourneyBtn {
    background-color: #00897B;
    color: #D9E2EC;
    padding: 5px;
}

.confirmRegistrationWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 100000000000000;
}

.confirmRegistrationDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    border: 0.5px solid #121212;
    background-color: #323232;
    padding: 20px;
    height: auto;
    width: 400px;
    box-sizing: border-box;
}

.entrantsList {
    height: 870px;
    width: 30vw;
    overflow: scroll;
    box-sizing: border-box;
    border: 1px solid #121212;
}

.rankProfitDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.rankProfitSubDiv {
    padding: 10px;
}

.entrantsList ul {
    list-style-type: none;
    padding: 0;
}

.productList {
    height: 870px;
    width: 30vw;
    overflow: scroll;
    box-sizing: border-box;
    border: 1px solid #121212;
}

.productListDiv {
    width: 30vw;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.exchangeSublist {
    margin: 0 auto;
}

.editBalanceInput {
    width: 50px;
    text-align: center;
    margin-right: 20px;
}

.balanceInput {
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.highlight {
    background-color: rgb(77, 134, 247);
    color: white;
}

.searchEntrantsInput {
    text-align: center;
    width: 200px;
}

.entrantsListTable {
    margin: 0 auto;
    border: 1px solid #121212;
    border-collapse: collapse;
    background-color: #D9E2EC;
    color: #121212;
}

.entrantsListTable thead {
    border-collapse: collapse;
    background-color: #161616;
    color: #D9E2EC;
}

.entrantsListTable th {
    width: 120px;
    outline: thin solid #D9E2EC;
    font-weight: bold;
    padding: 5px;
}

.entrantsListTable td {
    width: 120px;
    border-top: thin solid #121212;
    border-bottom: thin solid #121212;
    font-size: 0.9rem;
    padding: 5px;
    border-left: none;
    border-right: none;
}

.entrantsListTable tr {
    outline: thin solid #121212;
}

.payoutStructTable {
    margin: 0 auto;
    border: 1px solid #121212;
    border-collapse: collapse;
    background-color: #D9E2EC;
    color: #121212;
}

.payoutStructTable thead {
    border-collapse: collapse;
    background-color: #161616;
    color: #E1E1E1;
}

.payoutStructTable th {
    width: 100px;
    outline: thin solid #D9E2EC;
    font-weight: bold;
    padding: 5px;
    font-weight: 0.9rem;
}

.payoutStructTable td {
    width: 100px;
    border-top: thin solid #121212;
    border-bottom: thin solid #121212;
    font-size: 0.9rem;
    padding: 5px;
    border-left: none;
    border-right: none;
}

.payoutStructTable tr {
    outline: thin solid #121212;
}

@media only screen and (max-width: 900px) {
    
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  
    .tourneySubDiv {
        width: 95vw;
    }
    .hostControls {
        width: 90vw;
    }
    
    .tourneyWrapper {
        width: 90vw;
    }
    
    .tourneyDiv h1 {
        font-size: 1.4rem;
    }
    
    .tourneyDiv h2 {
        font-size: 1.2rem;
    }
    
    .tourneyDiv h3 {
        font-size: 1rem;
    }
    
    .entrantsListTable th {
        font-size: 0.9rem;
    }

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  

}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .tourneyDiv h1 {
        font-size: 1.4rem;
    }
    
    .tourneyDiv h2 {
        font-size: 1.2rem;
    }
    
    .tourneyDiv h3 {
        font-size: 1rem;
    }
    
    .tourneyWrapper {
        flex-direction: column;
        height: auto;
    }
    
    .productList {
        width: 90vw;
        height: auto;
    }
    
    .productListDiv {
        width: 90vw;
        height: auto;
    }
    
    .entrantsList {
        width: 90vw;
        height: auto;
    }
    
    .tourneyBody {
        width: 90vw;
        height: auto;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  


}