.registerDiv {
    margin-top: 0;
    background-color: #161616;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-top: 120px;
    box-sizing: border-box;
}

.registerDiv h1 {
    color: #E1E1E1;
}

.registerDiv p {
    color: #E1E1E1;
}

.registerSubDiv {
    background-color: #282828;
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
}

.registerFormDiv {
    background-color: #363636;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
}

.registerSubDiv p {
    color: #D9E2EC;
    font-family: Helvetica;
    font-size: 0.9rem;
}

.registerSubmitBtn {
    background-color: #00897B;
    color: #D9E2EC;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.goToLoginDiv {
    background-color: #363636;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    margin-top: 40px;
    border-radius: 10px;
}

.goToLoginBtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  
    .registerSubDiv {
        width: 90vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .registerSubDiv {
        width: 90vw;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
    .registerSubDiv h1 {
        font-size: 1.8rem;
    }

    .registerSubDiv h3 {
        font-size: 1rem;
    }
    .goToLoginDiv {
        width: 80vw;
    }
    .registerFormDiv {
        width: 80vw;
    }
}

@media (max-height: 576px) and (min-width: 576px) {
    .registerDiv {
        height: 100vw;
    }

}
