.profileDiv {
    margin-top: 0;
    background-color: #161616;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 120px 0px 40px 0px;
    -webkit-transform: translateZ(0)
}

.profileDiv h1 {
    color: #E1E1E1;
}

.profileDiv h2 {
    color: #E1E1E1;
}

.profileDiv h3 {
    color: #E1E1E1;
}

.profileDiv p {
    color: white;
}

.profileSubDiv {
    background-color: #282828;
    height: auto;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    border: 1px solid black;
}

.profileSubDiv input {
    padding: 5px;
}

.updateAPIbtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    width: 120px;
    margin: 20px 0;
    font-size: 0.8rem;
}

.updateUsernameBtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    width: 120px;
    margin: 20px 0;
    font-size: 0.8rem;
}

.updateUsernameModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    border: 0.5px solid #121212;
    background-color: #323232;
    padding: 20px;
    height: auto;
    width: 400px;
}

.updateUsernameModal h2 {
    color: #E1E1E1;
}
    
.updateUsernameModal p {
    color: #E1E1E1;
}

.apiInput {
    text-align: center;
    width: 200px;
}

.yesBtn {
    background-color: #00897B;
    color: #E1E1E1;
    padding: 2px;
    margin: 0px 5px;
    width: 65px;
}

.noBtn {
    background-color: #C62828;
    color: #E1E1E1;
    padding: 2px;
    margin: 0px 5px;
    width: 65px;
}

.profilePanel {
    background-color: #363636;
    width: 700px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}

.updatePassBtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

.apiDiv {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #404040;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.apiKeySecret {
    margin: 0 auto;
}

.invitesTable {
    width: 500px;
    margin: 0 auto;
    border: 0.5px solid black;
    border-collapse: collapse;
    background-color: #D9E2EC;
}

.invitesTable thead {
    border-collapse: collapse;
    background-color: #424242;
    color: #E1E1E1;
}

.invitesTable th {
    border: 0.5px solid black;
}

.invitesTable td {
    border: 0.5px solid black;
    font-size: 0.9rem;
}

.invitesTable tr {
    border: 0.5px solid black;
}

.darkBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100000000000000;
}

.updatePassModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    border: 0.5px solid #121212;
    background-color: #323232;
    padding: 20px;
    height: auto;
    width: 400px;
}

.passModalBtns {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

.updatePassModal h2 {
    color: #E1E1E1;
}

.updatePassModal p {
    color: #E1E1E1;
}

.updatePassInput {
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
}

.verifyEmailModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    border: 1px solid #121212;
    background-color: #323232;
    padding: 20px;
    height: auto;
    width: 400px;
}

.verifyEmailModal p{
    color: #E1E1E1;
}

.verifyEmailModal h2{
    color: #E1E1E1;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  
    .profileSubDiv {
        width: 90vw;
    }
    .profilePanel {
        width: 80vw;
    }
}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  
    .profileSubDiv {
        width: 90vw;
    }
    .profilePanel {
        width: 90vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .profileSubDiv {
        width: 100vw;
    }
    .profilePanel {
        width: 80vw;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
    
    .invitesTable {
        width: 80vw;
        overflow: scroll;
    }
    
    .profileSubDiv h1 {
        font-size: 1.6rem;
    }

    .profileSubDiv h2 {
        font-size: 1rem;
    }
    
    .profileSubDiv h3 {
        font-size: 0.9rem;
    }
    
    .invitesTable th {
        font-size: 0.8rem;
    }

    .invitesTable td {
        font-size: 0.8rem;
    }
    
    .yesBtn {
        padding: 5px;
        margin: 0px 5px;
        width: 40px;
    }

    .noBtn {
        padding: 5px;
        margin: 0px 5px;
        width: 40px;
    }
    
}

