
.showProducts {
    text-align: center;
    z-index: 0.9;
    position: absolute;
    left: 50%;
    background-color: #D9E2EC;
    padding: 20px;
    border: 1px solid #102A43;
    width: 140px;
    box-sizing: border-box;
}

.showProducts ul {
    list-style-type: none;
    padding: 0;
}

.toggleSearchBtn {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid #102A43;
    background-color: #303F9F;
    color: #E1E1E1;
}

.submitBtn {
    background-color: #00897B;
    color: #E1E1E1;
}

.resetBtn {
    background-color: #C62828;
    color: #E1E1E1;
}

.modalDiv {
    z-index: 10000000000;
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #323232;
    padding-top: 20px;
    border: 1px solid black;
}

.searchForm {
    margin-bottom: 20px;
}

.searchForm input {
    text-align: center;
    border-radius: 5px;
    padding: 3px;
}

.searchForm input::placeholder {
    text-align: center;
    border-radius: 10px;
}

.searchTourneySubmitBtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  


}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  


}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .modalDiv {
        width: 80vw;
    }
    .showProducts {
        left: 45%;
    }
}


/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
    .showProducts {
        left: 35%;
    }
}