.homeDiv {
    margin-top: 0;
    background-color: #102A43;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    padding-top: 80px;
    background-size: 100vw 100vh;
    box-sizing: border-box;
}

.homeDiv h1 {
    color: #D9E2EC;
}

.homeDiv h2 {
    color: #D9E2EC;
}


.homeSubDiv {
    background-color: #243B53;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(36, 59, 83, 0.5);
}

.homeMainHead {
    position: relative;
    font-size: 4.8rem;
}

.homeMainSubHead {
    position: relative;
    font-size: 3.2rem;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {
    .homeDiv {
        background-size: 1000px 800px;
    }
    
    .homeSubDiv {
        width: 90vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .homeSubDiv {
        width: 100vw;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
    
    .homeDiv h1 {
        font-size: 3.6rem;
    }

    .homeDiv h2 {
        font-size: 2.8rem;
    }

}

