.AllTourneysDiv {
    margin-top: 0;
    background-color: #102A43;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 80px 0px 80px 0px;
}

.AllTourneysDiv h1 {
    color: #D9E2EC;
}

.AllTourneys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: auto;
    box-sizing: border-box;
    position: relative;
    top: 40px;
    background-color: #243B53;
    text-align: center;
    padding-bottom: 20px;
}

.TourneyDiv {
    width: 85vw;
    margin: 0 auto;
    min-width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #D9E2EC;
    background-color: #334E68;
}

.TourneyTable {
    margin: 0 auto;
    border: 1px solid #102A43;
    border-collapse: collapse;
    background-color: #D9E2EC;
    color: #102A43;
}

.TourneyTable thead {
    border-collapse: collapse;
    background-color: #243B53;
    color: #D9E2EC;
}

.TourneyTable tbody button {
    background-color: rgb(77, 134, 247);
    color: #D9E2EC;
}

.TourneyTable th {
    width: 120px;
    outline: thin solid #D9E2EC;
    font-weight: bold;
}

.TourneyTable td {
    width: 120px;
    outline: thin solid #102A43;
    font-size: 0.9rem;
}

.TourneyTable tr {
    outline: thin solid #102A43;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  
    .AllTourneys {
        width: 100vw;
    }
    .TourneyDiv {
        width: 100vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .TourneyDiv {
        min-width: 0;
        overflow: scroll;
    }
    
    .TourneyTable th {
        font-size: 0.8rem;
        width: 80px;
    }
    
    .TourneyTable td {
        font-size: 0.8rem;
        width: 80px;
    }
    
    .AllTourneysDiv h1 {
        font-size: 1.4rem;
    }
    
    .AllTourneysDiv h2 {
        font-size: 1.2rem;
    }
    
    .TourneyTable {
        width: 720px;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  

}