.AllTourneysDiv {
    margin-top: 0;
    background-color: #161616;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding: 80px 0px 80px 0px;
}

.AllTourneysDiv h1 {
    color: #E1E1E1;
}

.AllTourneysDiv h2 {
    color: #E1E1E1;
}

.AllTourneys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: auto;
    box-sizing: border-box;
    position: relative;
    top: 40px;
    background-color: #282828;
    text-align: center;
    padding-bottom: 20px;
}

.selectTourneyTableDiv {
    background-color: #363636;
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.selectTourneyTableDiv button {
    color: #D9E2EC;
    margin: 5px;
    padding: 5px;
}

.TourneyDiv {
    width: 85vw;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #D9E2EC;
    background-color: #363636;
}

.TourneyTable {
    margin: 0 auto;
    border: 1px solid #121212;
    border-collapse: collapse;
    background-color: #D9E2EC;
    color: #121212;
}

.TourneyTable thead {
    border-collapse: collapse;
    background-color: #161616;
    color: #D9E2EC;
}

.TourneyTable tbody button {
    background-color: #303F9F;
    color: #D9E2EC;
}

.TourneyTable th {
    width: 120px;
    outline: thin solid #D9E2EC;
    font-weight: bold;
    padding: 5px;
}

.TourneyTable td {
    width: 120px;
    border-top: thin solid #102A43;
    border-bottom: thin solid #102A43;
    font-size: 0.9rem;
    padding: 5px;
    border-left: none;
    border-right: none;
}

.TourneyTable tr {
    outline: thin solid #102A43;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  
    .AllTourneys {
        width: 100vw;
    }
    .TourneyDiv {
        width: 100vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .TourneyDiv {
        overflow: scroll;
    }
    
    .TourneyTable th {
        font-size: 0.8rem;
        width: 80px;
    }
    
    .TourneyTable td {
        font-size: 0.8rem;
        width: 80px;
    }
    
    .AllTourneysDiv h1 {
        font-size: 1.4rem;
    }
    
    .AllTourneysDiv h2 {
        font-size: 1.2rem;
    }
    
    .TourneyTable {
        width: 720px;
    }
    
    .AllTourneys p {
        font-size: 0.9rem;
    }
    
    .selectTourneyTableDiv {
        width: 100vw;
        position: relative;
        left: 0;
    }

    .selectTourneyTableDiv button {
        color: #D9E2EC;
        margin: 5px;
        padding: 5px;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  

}