.loginDiv {
    margin-top: 0;
    background-color: #161616;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    padding-top: 80px;
    box-sizing: border-box;
}

.loginDiv h1 {
    color: #E1E1E1;
}

.loginDiv p {
    color: #E1E1E1;
}

.loginSubDiv {
    background-color: #212121;
    height: auto;
    width: 500px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    top: 40px;
}

.loginFormDiv {
    background-color: #323232;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    position: relative;
}

.loginSubDiv p {
    color: #D9E2EC;
    font-family: Helvetica;
    font-size: 0.9rem;
}

.loginSubmitBtn {
    background-color: #00897B;
    color: #D9E2EC;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.goToSignUpDiv {
    background-color: #323232;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    margin-top: 40px;
    border-radius: 10px;
}

.goToSignUpBtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

.darkBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100000000000000;
}

.resetPasswordDiv {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 10000000000;
    border: 0.5px solid rgb(166, 17, 17);
    background-color: #323232;
    padding: 20px;
    height: auto;
    width: 400px;
    box-sizing: border-box;
}

.resetPassBtn {
    background-color: #303f9f;
    color: #D9E2EC;
    padding: 5px;
    border-radius: 5px;
}

.resetPassInput {
    text-align: center;
    width: 180px;
    margin-bottom: 10px;
}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  
    .loginSubDiv {
        width: 90vw;
    }
}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    .loginSubDiv {
        width: 90vw;
    }
}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
    .loginDiv {
        padding-bottom: 40px;
    }
    .loginSubDiv {
        padding: 10px 0 40px 0;
    }
    .loginSubDiv h1 {
        font-size: 2rem;
    }
    .resetPasswordDiv {
        width: 90vw;
    }
    .goToSignUpDiv {
        width: 80vw;
    }
    .loginFormDiv {
        width: 80vw;
    }
}

@media (max-height: 576px) and (min-width: 576px) {
    .loginDiv {
        height: 100vw;
    }

}