/* Extra Large devices , 1200px and up*/
.NavTop {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: Quicksand;
    height: 80px;
    width: 100vw;
}

.NavTop img {
    height: 80px;
    width: 80px;
}

.NavTop h2 {
    position: relative;
    font-size: 1.8rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(77, 134, 247);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    top: 20px;
    right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(87, 66, 245);}

/* Small devices (landscape phones, 576px and below)*/
@media (max-width: 576px) {  
        
    .NavTop h2 {
        font-size: 1.3rem;
        top: 15px
    }
    
    .NavTop img {
        height: 60px;
        width: 60px;
        position: relative;
        top: 10px;
    }

}

/* medium devices (landscape phones, 576px to 768px)*/
@media (max-width: 768px) {  
    

}

/* Large devices (desktops, 768px to 992px )*/
@media (max-width: 992px) {  


}

/* large devices  desktops, 992px to 1200px)*/
@media (max-width: 1200px) {  


}