[Unit]
Description=Update Active Tourneys
After=multi-user.target

[Service]
Type=simple
User=will
ExecStart=/home/will/cryptotourneys/tourneysenv/bin/python3 /home/will/cryptotourneys/updateActiveTourneys.py
Restart=always

[Install]
WantedBy=multi-user.target